
@font-face {
  font-family: "DepartureMono";
  src: url("./assets/fonts/DepartureMono-Regular.woff2") format("woff2"),
       url("./assets/fonts/DepartureMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


html, 
body {
    max-height: 100vh;
    box-sizing: border-box;
}

#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  max-height: 100vh;
  box-sizing: border-box;
}
