# Data files from radar
data/

# Compiled radar binary
control/src/radar
control/src/test

# Jupyter stuff
*.ipynb_checkpoints/

# LaTeX stuff
docs/*.aux
docs/*.cpt
docs/*.log
docs/*.toc
docs/*.pdf

# Python stuff
__pycache__/
