# Data files from radar and assoc stuff
data/
*.h5
*.ubx
*.gpkg

# Compiled radar binary
control/src/radar
control/src/test

# Jupyter stuff
*.ipynb_checkpoints/

# LaTeX stuff
docs/*.aux
docs/*.cpt
docs/*.log
docs/*.toc
docs/*.pdf

# Python stuff
__pycache__/
dist/
ghog.egg-info/

# Documentation
sphinx/build
