<!DOCTYPE html>
<html>
  <head>
    <title>Groundhog</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/stylesheet.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/jquery-ui.css')}}">
    <script type="text/javascript" src="{{url_for('static',filename='js/jquery-1.9.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/jquery-ui.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/updates.js')}}"></script>
  </head>
  <body>
    <div class="viewport">
      <div id="tabs" class="tab">
        <ul>
          <li><a href="#operate">Operate</a></li>
          <li><a href="#settings">Settings</a></li>
        </ul>
        <div id="operate">
          <!-- 2D radar preview -->
          <div class="prev2d">
            <p> 2d radar preview </p>
          </div>

          <!-- 1D radar preview -->
          <div class="prev1d">
            <p> 1d radar preview </p>
          </div>

          <!-- Radar status printout -->
          <div class="status">
            <p> Radar status </p>
          </div>

          <!-- Time slider -->
          <div class="time">
            <p class="rangelabel" id="timeval"></p>
            <div class="slider" id="timeslider"></div>
          </div>

          <!-- Gain slider -->
          <div class="gain">
            <p class="rangelabel" id="gainval"></p>
            <div class="slider" id="gainslider"></div>
          </div>

          <!-- Start button -->
          <button id="start" class="start">
            Start      
          </button>

          <!-- Stop button -->
          <button class="stop">
            Stop
          </button>

          <!-- Radar info table -->
          <table class="radar">
            <tr>
              <td>nTrc:</td>
              <td id="ntrc"></td>
            </tr>
            <tr>
              <td>nBuf:</td>
              <td id="nbuf"></td>
            </tr>
            <tr>
              <td>PRF:</td>
              <td id="prf"></td>
            </tr>
            <tr>
              <td>ADC:</td>
              <td id="adc"></td>
            </tr>
          </table>

          <!-- GNSS info table -->
          <table class="gnss">
            <tr>
              <td>Fix:</td>
              <td id="fix"></td>
            </tr>
            <tr>
              <td>Date:</td>
              <td id="date"></td>
            </tr>
            <tr>
              <td>Time:</td>
              <td id="time"></td>
            </tr>
            <tr>
              <td>Lon:</td>
              <td id="lon"></td>
            </tr>
            <tr>
              <td>Lat:</td>
              <td id="lat"></td>
            </tr>
            <tr>
              <td>Hgt:</td>
              <td id="hgt"></td>
            </tr>
          </table>
        </div>
        <div id="settings">
          <p>Settings crap goes here</p>
        </div>
      </div>
    </div>
  </body>
</html>