infoBox {
	background: #FFFFFF;
	border-radius: 10px;
	border: 4px black solid;	
}

table {
	background: #D9D9D9;
	border-radius: 10px;
	border: 4px black solid;
}

table td {
	vertical-align: middle;
	font-size: 40px;
}

table td:nth-child(1) {
  text-align: right;
  width: 32.5%;
}

table td:nth-child(2) {
  text-align: center;
  background: white;
  border-radius: 5px;
  border: 2px #686868 solid;
}

button {
	width: 300px;
	height: 80px;
	font-size: 40px;
	border-radius: 10px;
}

button.start {
	background-color: #50D113;
}

button.stop {
	background-color: #D12A13;
}

button:active {
  background-color: blue;
}

.rc-slider-track {
  background-color: indigo;
}
.rc-slider-mark-text {
    font-size: 22px;
    color: black;
}