[Unit]
Description=gunicorn serving groundhog flask app
After=network.target

[Service]
User=mchristo
Group=www-data
WorkingDirectory=/home/mchristo/proj/groundhog/control/gui/api
ExecStart=/usr/bin/gunicorn --workers 1 --threads 1 --bind 127.0.0.1:5000 api:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
